<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.init</listener-class>
    </listener>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>controller.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datagrid</servlet-name>
        <servlet-class>controller.datagrid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productSetup</servlet-name>
        <servlet-class>controller.productSetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlProductGroup</servlet-name>
        <servlet-class>controller.xmlProductGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>colorMaster</servlet-name>
        <servlet-class>controller.colorMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productGroup</servlet-name>
        <servlet-class>controller.productGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetail</servlet-name>
        <servlet-class>controller.productDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>controller.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companyMaster</servlet-name>
        <servlet-class>controller.companyMasterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlColorMaster</servlet-name>
        <servlet-class>controller.xmlColorMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>memberMaster</servlet-name>
        <servlet-class>controller.memberMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlMenuGroupMaster</servlet-name>
        <servlet-class>controller.xmlMenuGroupMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlMemberMaster</servlet-name>
        <servlet-class>controller.xmlMemberMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuGroupMaster</servlet-name>
        <servlet-class>controller.menuGroupMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuDetailMaster</servlet-name>
        <servlet-class>controller.menuDetailMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dynamicProvince</servlet-name>
        <servlet-class>controller.dynamicProvince</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chkValidate</servlet-name>
        <servlet-class>controller.chkValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>defaultCompany</servlet-name>
        <servlet-class>controller.defaultCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrder</servlet-name>
        <servlet-class>controller.addOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>controller.remove</servlet-class>
    </servlet>
     
    <servlet>
        <servlet-name>sendEmail</servlet-name>
        <servlet-class>controller.sendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlOrderMaster</servlet-name>
        <servlet-class>controller.xmlOrderMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrder</servlet-name>
        <servlet-class>controller.manageOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockMaster</servlet-name>
        <servlet-class>controller.stockMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlStockMaster</servlet-name>
        <servlet-class>controller.xmlStockMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>memberGradeMaster</servlet-name>
        <servlet-class>controller.memberGradeMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSecurity</servlet-name>
        <servlet-class>controller.userSecurity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seqProductSetup</servlet-name>
        <servlet-class>controller.seqProductSetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>controller.editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlUserSecurity</servlet-name>
        <servlet-class>controller.xmlUserSecurity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editOrder</servlet-name>
        <servlet-class>controller.editOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlMemberGradeMaster</servlet-name>
        <servlet-class>controller.xmlMemberGradeMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testPdf</servlet-name>
        <servlet-class>controller.testPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlReport</servlet-name>
        <servlet-class>controller.xmlReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>controller.insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productGroup_</servlet-name>
        <servlet-class>controller.productGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datagrid</servlet-name>
        <url-pattern>/admin/datagrid.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>colorMaster</servlet-name>
        <url-pattern>/admin/colorMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productSetup</servlet-name>
        <url-pattern>/admin/productSetup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlProductGroup</servlet-name>
        <url-pattern>/admin/xmlProductGroup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productGroup</servlet-name>
        <url-pattern>/admin/productGroup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetail</servlet-name>
        <url-pattern>/admin/productDetail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companyMaster</servlet-name>
        <url-pattern>/admin/companyMasterController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlColorMaster</servlet-name>
        <url-pattern>/admin/xmlColorMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlMemberMaster</servlet-name>
        <url-pattern>/admin/xmlMemberMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>memberMaster</servlet-name>
        <url-pattern>/admin/memberMaster.do </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlMenuGroupMaster</servlet-name>
        <url-pattern>/admin/xmlMenuGroupMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuGroupMaster</servlet-name>
        <url-pattern>/admin/menuGroupMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuDetailMaster</servlet-name>
        <url-pattern>/admin/menuDetailMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dynamicProvince</servlet-name>
        <url-pattern>/dynamicProvince.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chkValidate</servlet-name>
        <url-pattern>/chkValidate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>defaultCompany</servlet-name>
        <url-pattern>/admin/defaultCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrder</servlet-name>
        <url-pattern>/addOrder.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/admin/remove.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmail</servlet-name>
        <url-pattern>/sendEmail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlOrderMaster</servlet-name>
        <url-pattern>/admin/xmlOrderMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrder</servlet-name>
        <url-pattern>/admin/manageOrder.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlStockMaster</servlet-name>
        <url-pattern>/admin/xmlStockMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockMaster</servlet-name>
        <url-pattern>/admin/stockMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>memberGradeMaster</servlet-name>
        <url-pattern>/admin/memberGradeMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSecurity</servlet-name>
        <url-pattern>/admin/userSecurity.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seqProductSetup</servlet-name>
        <url-pattern>/admin/seqProductSetup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlUserSecurity</servlet-name>
        <url-pattern>/admin/xmlUserSecurity.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editOrder</servlet-name>
        <url-pattern>/admin/editOrder.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlMemberGradeMaster</servlet-name>
        <url-pattern>/admin/xmlMemberGradeMaster.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testPdf</servlet-name>
        <url-pattern>/admin/testPdf.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlReport</servlet-name>
        <url-pattern>/admin/xmlReport.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
   
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/webdb</description>
        <res-ref-name>webdb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
