
* { margin:0; padding:0; }

body          { color:#2f2f2f; }

img           { border:0;}









/* Base Columns */
.col-left { float:left; width:14.5%; padding:0 0 1px; }
.col-main { float:left; width:70.5%; padding:0 0 1px; }
.col-right { float:right; width:14.5%; padding:0 0 1px; }

/* 1 Column Layout */
.col1-layout .col-main { float:left; width:auto; }

/* 2 Columns Layout */
.col2-left-layout .col-main { float:left; }
.col2-right-layout .col-main {width:auto; }

/* 3 Columns Layout */
.col3-layout .col-main { width:100%; }
.col3-layout .col-wrapper { width:80.5%; }
.col3-layout .col-wrapper .col-main { width:84.5%; }

/* Content Columns */
.col2-set .col-1 { float:left; width:60.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
.col2-set .col-narrow { width:32%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:15%; }
.col3-set .col-2 { float:left; width:32%;  }
.col3-set .col-3 { float:right; width:34%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 1px; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }
/* ======================================================================================= */




/* Data Table */
.data-table { width:100%; border:1px solid #bebcb7; }
.data-table tbody th { border-bottom:1px solid #d9dde3; border-right:1px solid #d9dde3; }
.data-table tbody td { border-bottom:1px solid #d9dde3;  }



.regular-price .price {
	font-weight:bold;
	font-size:13px;
	color:#F00;
}





.product-view { border:1px solid #c4c6c8; }

.product-essential { padding:25px;}
.product-essential h2 { font:bold 13px/1.35 Arial, Helvetica, sans-serif; }

.product-collateral { padding:5px 25px; }
.product-collateral h2 { font-weight:bold; font-size:15px; color:#e26703; border-bottom:1px solid #e5dcc3; padding:0 0 1px; margin:0 0 15px; }
.product-collateral .box-collateral { margin:0 0 25px; }

/* Product Images */
.product-view .product-img-box { float:left; width:50%; }
.col3-layout .product-view .product-img-box { float:none; margin:0 auto; }
.product-view .product-img-box .product-image { margin:0 0 13px; }
.product-view .product-img-box .product-image-zoom { position:relative; width:265px; height:265px; overflow:hidden; z-index:9; }
.product-view .product-img-box .product-image-zoom img {
	position:absolute;
	left:0;
	top:0;
	cursor:move;
	width: 266px;
}

/* Product Shop */
.product-view .product-shop { float:right; width:50%; }
.col1-layout .product-view .product-shop { float:right; width:50%; }
.col3-layout .product-view .product-shop { float:none; width:auto; }
.product-view .product-shop .product-name { margin:0 0 5px;                                  
}
.product-view .product-shop .product-name h1 { margin:0; font:bold 15px/1.35 Arial, Helvetica, sans-serif; }
.product-view .product-shop .availability { margin:10px 0; }
.product-view .product-shop .short-description { margin:10px 0; padding:10px 0 0; }
.product-view .product-shop .price-box { margin:10px 0; }
.product-view .product-shop .add-to-links { margin:0; }
.product-view .product-shop .add-to-links { font-size:12px; text-align:right; }
.product-view .product-shop .add-to-links li,
.product-view .product-shop .add-to-links li .separator { display:inline; }
.product-view .product-shop .add-to-links a { font-weight:normal !important; }






/* Clears ================================================================================ */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,

.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
/* ======================================================================================= */
