.drawers-wrapper {
	position: relative;
	width: 188px;
	margin:auto;            
        }

        .drawer {
            background:transparent url(images/sideboxlight_bg20070611.gif) repeat-y scroll 0pt;
            color:#3177c5;
            font-size:12px;
            line-height:1.3em;
        }

        .boxcap {
            height:5px;
            left:0pt;
            position:absolute;
            width:100%;
            z-index:100;
            background:transparent url(images/sidenav_capbottom.png) no-repeat scroll 0%;
            margin-top:-5px;
        }

        .captop {
            background-image:url(http://images.apple.com/downloads/images/box_188captop.png);
            bottom:auto;
            top:0pt;
            margin-top:0;
        }

        .drawers {
            margin-bottom:15px;
            color:#3177c5;
            font-size:12px;
            line-height: 18px;
        }

        .drawers A {
	color:#666666;
	text-decoration:none;
	font-family: "Tahoma","MS Sans Serif","Arial","Thonburi";
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-size: 13px;
        }

        .drawer li {
            border-bottom:1px solid #E5E5E5;
            line-height:16px;
            padding:6px 0pt;
        }

        UL {
            list-style: none;
            padding: 0;
        }

        UL.drawers {
            margin: 0;
        }

        .drawer-handle {
            background:#939393 url(http://images.apple.com/downloads/images/slider_handlebg188.png) no-repeat scroll 0pt;
            color:#333333;
            cursor:default;
            font-size:14px;
            font-weight:normal;
            height:35px;
            line-height:35px;
            margin-bottom:0pt;
            text-indent:15px;
            width:100%;
        }

        .drawer-handle.open {
            background-color:#72839D;
            background-position:-188px 0pt;
            color:#FFFFFF;
        }

        .drawer UL {
            padding: 0 14px;
            padding-bottom:0pt;
        }

        .drawer-content UL {
            padding-top: 7px;
        }

        .drawer-content LI A {
            display:block;
            overflow:hidden;
        }

        .alldownloads li {
            border:0pt none;
            line-height:30px;
            padding:0pt;
        }
